In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
import seaborn as sns
%matplotlib inline
import scipy.stats as stats
import pylab
from sklearn.ensemble import RandomForestClassifier 
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz 
from sklearn.metrics import roc_curve, auc 
from sklearn.metrics import classification_report 
from sklearn.metrics import confusion_matrix 
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [10]:
dt= pd.read_csv("heart.csv")

In [11]:
dt.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [13]:
X=dt.iloc[:,:-1]
Y=dt["target"]

In [14]:
X_train,X_test,Y_train,Y_test=train_test_split(dt.drop('target',1),dt['target'],test_size=.2,random_state=10)#split the data

<ipython-input-14-2172d8ecfece>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X_train,X_test,Y_train,Y_test=train_test_split(dt.drop('target',1),dt['target'],test_size=.2,random_state=10)#split the data

In [16]:
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
286,59,1,3,134,204,0,1,162,0,0.8,2,2,2
102,63,0,1,140,195,0,1,179,0,0.0,2,2,2
242,64,1,0,145,212,0,0,132,0,2.0,1,2,1
65,35,0,0,138,183,0,1,182,0,1.4,2,0,2
35,46,0,2,142,177,0,0,160,1,1.4,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,47,1,2,130,253,0,1,179,0,0.0,2,0,2
123,54,0,2,108,267,0,0,167,0,0.0,2,0,2
15,50,0,2,120,219,0,1,158,0,1.6,1,0,2
125,34,0,1,118,210,0,1,192,0,0.7,2,0,2
265,66,1,0,112,212,0,0,132,1,0.1,2,1,2

# CLASSIFIER

In [21]:
dtc = DecisionTreeClassifier(
    criterion='gini',
    splitter='best',
    max_depth=5,
    min_samples_split=2,
    min_samples_leaf=1,
    random_state=10,
    max_leaf_nodes=5,
    )
dtc.fit(X_train,Y_train)
dtc_pred=dtc.predict(X_test)
print("The Accuracy is ", accuracy_score(Y_test,dtc_pred)*100)

The Accuracy is  72.1311475409836

In [26]:
random = RandomForestClassifier(
    criterion='gini',
    max_depth=None,
    min_samples_split=2,
        min_samples_leaf=1,
    min_weight_fraction_leaf=0.0,
    max_features='auto',
    max_leaf_nodes=5,
    bootstrap=True,
    random_state=100)
random.fit(X_train,Y_train)
random_pred=random.predict(X_test)
print("The Accuracy is ", accuracy_score(Y_test,random_pred)*100)

The Accuracy is  78.68852459016394

In [27]:
import pickle

In [28]:
with open('heart_disease.pkl','wb') as file:pickle.dump(random,file)